body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.header-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 1024px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.links {
    list-style: none;
    display: flex;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}