body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    margin: 16px 0;
    border: 4px solid #3882f6;
    border-radius: 8px;
    padding: 8px 32px;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 1024px;
    padding: 16px;
    font-size: 18px;
}

.header-logo {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-grow: 1;
    padding: 128px 0;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 480px;
    height: 256px;
    background-color: grey;
}

.hero-card {
    width: 480px;
}

.hero-header {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.info {
    font-size: 18px;
    text-align: center;
    color: #1f2937;
}

.info-header {
    margin: 43px 0;
    font-size: 36px;
    font-weight: extra-bold;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
    margin: 0 0 128px;
}

.card {
    width: 170px;
}

.card-image {
    margin-bottom: 8px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    width: 170px;
    height: 170px;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #e5e7eb;
}

.quote {
    margin: 128px 0;
    width: 824px;
    color: #1f2937;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.quote-credit {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    padding: 28px 100px;
    border-radius: 16px;
    box-sizing: border-box;
    width: 1024px;
    background-color: #3882f6;
    color: #e5e7eb;
}

.banner-header {
    font-size: 24px;
    color: #f9faf8;
}

.banner-button {
    border-color: #f9faf8;
}

.footer {
    padding: 48px 0;
    background-color: #1f2937;
    text-align: center;
    color: #e5e7eb;
}