* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 208px;
    background: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1024px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav {
    display: flex;
    align-content: center;
}

.nav__list {
    display: flex;
    gap: 26px;
    list-style: none;
}

.nav__item {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 103px 0 133px;
    background: #1f2937;
}

.hero {
    display: flex;
    gap: 54px;
    width: 1024px;
}

.hero-text {
    width: 448px;
}

.hero-text__main {
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero-text__sub {
    margin-bottom: 18px;
    font-size: 18px;
    color: #e5e7eb;
}

.button {
    border: none;
    border-radius: 10px;
    padding: 8px 35px;
    background: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
}

.button--white-border {
    border: 2px solid #f9faf8;
    padding: 6px 33px;
}

.hero__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 522px;
    height: 237px;
    background: #6d747d;
    color: #e5e7eb;
}

.info-container {
    padding: 55px 0 122px;
    background: #f9faf8;
}

.info {
    text-align: center;
    color: #1f2937;
}

.info__header {
    margin-bottom: 55px;
    font-size: 36px;
    font-weight: extra-bold;
}

.info__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card {
    width: 158px;
}

.card__image {
    border: 4px solid #3882f6;
    border-radius: 10px;
    width: 158px;
    height: 158px;
}

.card__text {
    margin-top: 8px;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 136px 0 100px;
    background: #e5e7eb;
}

.quote {
    width: 825px;
}

.quote__text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote__credit {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background: #f9faf8;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
    width: 1024px;
    height: 150px;
    background: #3882f6;
}

.action-text__main {
    font-size: 24px;
    color: #f9faf8;
}

.action-text__sub {
    font-size: 18px;
    color: #f9faf8;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 208px;
    background: #1f2937;
}

.footer__text {
    font-size: 18px;
    color: #e5e7eb;
}